*{box-sizing:border-box;font-family:system-ui}
body{margin:0;background:#fff;color:#111}
a{text-decoration:none;color:inherit}

header{
  padding:12px;
  font-size:20px;
  font-weight:700;
  border-bottom:1px solid #eee;
}

.banner{
  height:200px;
  background:url("https://photos.fife.usercontent.google.com/pw/AP1GczNSCr3UpqHUKHi1Ei8AO7cPjnt6rl-mcjBwkkIVXmKgiv_uVZpHlrLM=w851-h842-s-no-gm?authuser=0") center/cover no-repeat;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
  gap:16px;
  padding:16px;
}

.card{
  border:1px solid #eee;
  border-radius:12px;
  overflow:hidden;
}

.card img{
  width:100%;
  height:180px;
  object-fit:cover;
}

.card h3{margin:8px;font-size:16px}
.card p{margin:8px;font-weight:700}

button{
  width:100%;
  padding:14px;
  font-size:16px;
  background:#000;
  color:#fff;
  border:none;
  border-radius:10px;
}
